<div>
  <div><%= @product.title %></div>
  <div><%= @latest_order.name %></div>
  <div><%= @latest_order.address %></div>
  <div><%= @latest_order.email %></div>
  <div><%= @latest_order.pay_type.label %></div>
</div>
