<p id="notice"><%= notice %></p>
<h1><%= t '.title_html' %></h1>
<% if @counter && @counter > 5 %>
  <div>You visited this page <%= pluralize @counter,  'time' %></div>
<% end %>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <% if @current_product == product %>
      <div class="entry current_product">
      <% else %>
      <div class="entry">
      <% end %>
        <%= link_to (image_tag product.image_url), (add_product_line_item_path product_id: product), remote: true %>
        <h3><%= product.title %></h3>
        <%= sanitize product.description %>
        <div class="price_line">
          <span class="price"><%= number_to_currency product.price %></span>
          <%= button_to (t '.add_html'), (add_product_line_item_path product_id: product, locale: I18n.locale), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
